<div class="container text-center text-white">
    <h1>Contact</h1>
    <hr id="main">
    <p></p>

    <div class="row">
        <div class="col-sm">
        <h2>Nous joindre sur les réseaux sociaux</h2>
        <button type="button" id="facebook" class="btn btn-lg text-white"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
        <hr>
        <button type="button" id="twitter" class="btn btn-lg text-white"><i class="fab fa-twitter pr-1"></i> Twitter</button>
        <hr>
        <button type="button" id="youtube" class="btn btn-lg text-white"><i class="fab fa-youtube pr-1"></i> Youtube</button>
        </div>
        <div class="col-sm">
        <h2>Notre localisation</h2>
        <p>Location J.A.L</p>
        <p>1111 Rue Lapierre</p> 
        <p>LaSalle, QC H8N 2J4</p>
        </div>
        <div class="col-sm">
            <h2>Nos heures d'ouverture</h2>
            <p>En semaine du Lundi au Vendredi de 9h à 17h</p>
            <p>En fin de semaine les Samedis et Dimanches de 11h – 17h</p>
        </div>
    </div>
    
</div>